<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Libit保留所有版权，如有疑问联系QQ：308062035
  ~ Copyright (c) 2016.
  -->
<manifest
    package="com.lrcall.appbst"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="14"
        tools:overrideLibrary="com.easemob.redpacketui"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 窗口至于顶层 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <!-- Normal Permissions 不需要运行时注册 -->
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 需要运行时注册的权限 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 环信需要的权限Required -->
    <!--<uses-permission android:name="android.permission.VIBRATE"/>-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK"/>-->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 环信需要的权限结束 -->
    <!-- 环信Demo -->
    <!--<uses-permission android:name="android.permission.VIBRATE"/>-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.GET_TASKS"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK"/>-->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <!-- GCM required, remember replace "com.hyphenate.chatuidemo" to your own package -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission
        android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE"/>
    <permission
        android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE"/>
    <!--环信Demo结束 -->
    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature android:name="android.hardware.touchscreen"/>
    <application
        android:name="com.lrcall.appbst.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ffc26ecb301d4dfde3f9d0770e3915ea">
        </meta-data>

        <activity
            android:name="com.lrcall.ui.ActivitySplash"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lrcall.ui.ActivityWelcome"/>
        <activity
            android:name="com.lrcall.ui.ActivityMain"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.lrcall.ui.ActivityDial"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.lrcall.ui.ActivityLogin"
            android:label="@string/title_activity_login"/>
        <activity
            android:name="com.lrcall.ui.ActivityImKefuList"
            android:label="@string/title_activity_im_kefu_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityRegister"
            android:label="@string/title_activity_register"/>
        <activity
            android:name="com.lrcall.ui.ActivityChangePwd"
            android:label="@string/title_activity_change_pwd"/>
        <activity
            android:name="com.lrcall.ui.ActivityBalanceRecharge"
            android:label="@string/title_activity_balance_recharge"/>
        <activity
            android:name="com.lrcall.ui.ActivityBackups"
            android:label="@string/title_activity_backups"/>
        <activity
            android:name="com.lrcall.ui.ActivityContactDetail"
            android:label="@string/activity_title_contact_detail"/>
        <activity
            android:name="com.lrcall.ui.ActivitySearchContacts"
            android:label="@string/activity_title_search"/>
        <activity
            android:name="com.lrcall.ui.ActivityProductsSearch"
            android:label="@string/activity_title_search"/>
        <activity
            android:name="com.lrcall.ui.ActivityProduct"
            android:label="@string/title_activity_product"/>
        <activity
            android:name="com.lrcall.ui.ActivityProductStarList"
            android:label="@string/title_activity_star_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityBalanceLogList"
            android:label="@string/title_activity_balance_log"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserAgentInfo"
            android:label="@string/title_activity_user_agent_info"/>
        <activity
            android:name="com.lrcall.ui.ActivityPayList"
            android:label="@string/title_activity_pay_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityProductHistoryList"
            android:label="@string/title_activity_product_history_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityRechargeDataTraffic"
            android:label="@string/title_activity_recharge_data_traffic"/>
        <activity
            android:name="com.lrcall.ui.ActivityRechargeDataTrafficList"
            android:label="@string/title_activity_recharge_data_traffic_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityPointProductShop"
            android:label="@string/title_activity_point_product_shop"/>
        <activity
            android:name="com.lrcall.ui.ActivityPointProduct"
            android:label="@string/title_activity_point_product"/>
        <activity
            android:name="com.lrcall.ui.ActivityPointOrderAdd"
            android:label="@string/title_activity_point_order_add"/>
        <activity
            android:name="com.lrcall.ui.ActivityPointOrderList"
            android:label="@string/title_activity_point_order_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityShopProducts"
            android:label="@string/title_activity_shop_products"/>
        <activity
            android:name="com.lrcall.ui.ActivityShopList"
            android:label="@string/title_activity_shop_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityShare"
            android:label="@string/title_activity_share"/>
        <activity
            android:name="com.lrcall.ui.ActivityReferrerUserList"
            android:label="@string/title_activity_referrer_user_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityAgentUserList"
            android:label="@string/title_activity_agent_user_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserReferrerInfo"
            android:label="@string/title_activity_user_referrer_info"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserAgentSharePorfitList"
            android:label="@string/title_activity_user_agent_share_profit_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserSharePorfitList"
            android:label="@string/title_activity_user_share_profit_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityWebView">
            <!-- 拦截打开网址请求 -->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<category android:name="android.intent.category.BROWSABLE"/>-->
            <!--<data-->
            <!--android:host="*"-->
            <!--android:path="/*"-->
            <!--android:scheme="http"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.lrcall.ui.ActivityNews"
            android:label="@string/title_activity_news"/>
        <activity
            android:name="com.lrcall.ui.ActivityOrderAdd"
            android:label="@string/title_activity_add_order"/>
        <activity
            android:name="com.lrcall.ui.ActivityOrderComment"
            android:label="@string/title_activity_order_comment"/>
        <activity
            android:name="com.lrcall.ui.ActivityAddressList"
            android:label="@string/title_activity_address_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityAddressManage"
            android:label="@string/title_activity_address_list"/>
        <activity
            android:name="com.lrcall.ui.ActivitySettings"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name="com.lrcall.ui.ActivityOrders"
            android:label="@string/title_activity_orders"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserWallet"
            android:label="@string/title_activity_user_wallet"/>
        <activity
            android:name="com.lrcall.ui.ActivityNewsList"
            android:label="@string/title_activity_news_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityAddressAdd"
            android:label="@string/title_activity_address_add"/>
        <activity
            android:name="com.lrcall.ui.ActivityAddressEdit"
            android:label="@string/title_activity_address_edit"/>
        <activity
            android:name="com.lrcall.ui.ActivityAdvice"
            android:label="@string/title_activity_advice"/>
        <activity
            android:name="com.lrcall.ui.ActivityShopCart"
            android:label="@string/title_activity_shop_cart"/>
        <activity
            android:name="com.lrcall.ui.ActivityOrderDetail"
            android:label="@string/title_activity_order_detail"/>
        <activity
            android:name="com.lrcall.ui.ActivityPayByBalance"
            android:label="@string/title_activity_pay_by_balance"/>
        <activity
            android:name="com.lrcall.ui.ActivityPicView"/>
        <activity
            android:name="com.lrcall.ui.ActivityCallbackInfo"
            android:label="@string/title_activity_callback_info"/>
        <activity
            android:name="com.lrcall.ui.ActivityCallbackRecharge"
            android:label="@string/title_activity_callback_recharge"/>
        <activity
            android:name="com.lrcall.ui.ActivityCallbackCallLogList"
            android:label="@string/title_activity_callback_call_log_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityCallbackRechargeLogList"
            android:label="@string/title_activity_callback_recharge_log_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityDialWaiting"
            android:label="@string/title_activity_callback_call_waiting"/>
        <activity
            android:name="com.lrcall.ui.ActivityResetPwd"
            android:label="@string/title_activity_reset_pwd"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserUpgrade"
            android:label="@string/title_activity_user_upgrade"/>
        <activity
            android:name="com.lrcall.ui.ActivityPayByShopCard"
            android:label="@string/title_activity_pay_by_shop_card"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserPointLog"
            android:label="@string/title_activity_user_point_log"/>
        <activity
            android:name="com.lrcall.ui.ActivityWithdraw"
            android:label="@string/title_activity_withdraw"/>
        <activity
            android:name="com.lrcall.ui.ActivityWithdrawList"
            android:label="@string/title_activity_withdraw_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserBankList"
            android:label="@string/title_activity_user_bank_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserBankAdd"
            android:label="@string/title_activity_user_bank_add"/>
        <activity
            android:name="com.lrcall.ui.ActivityQueryUserBalance"
            android:label="@string/title_activity_query_user_balance"/>
        <activity
            android:name="com.lrcall.ui.ActivityPayByAlipay"
            android:label="@string/title_activity_pay_by_alipay"/>
        <activity
            android:name="com.lrcall.ui.ActivityPayByWxPay"
            android:label="@string/title_activity_pay_by_wxpay"/>
        <activity
            android:name="com.lrcall.ui.ActivityCallbackRechargeList"
            android:label="@string/title_activity_callback_recharge_list"/>
        <activity
            android:name="com.lrcall.ui.ActivityShengxian"
            android:label="@string/title_activity_shengxian"/>
        <activity
            android:name="com.lrcall.ui.ActivityHuodong"
            android:label="@string/title_activity_huodong"/>
        <activity
            android:name="com.lrcall.ui.ActivityUserEdit"
            android:label="@string/title_activity_user_edit"/>
        <!-- 商家 -->
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopRegister"
            android:label="@string/title_activity_shop_register"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopAuth"
            android:label="@string/title_activity_shop_auth"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopInfo"
            android:label="@string/title_activity_shop_info"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopProductManage"
            android:label="@string/title_activity_shop_products_manage"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopProductAdd"
            android:label="@string/title_activity_product_add"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopProductEdit"
            android:label="@string/title_activity_product_edit"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopOrderManage"
            android:label="@string/title_activity_orders_manage"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopOrderInfo"
            android:label="@string/title_activity_order_info"/>
        <activity
            android:name="com.lrcall.ui.ActivityOrderShip"
            android:label="@string/title_activity_order_ship"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopAgentProductManage"
            android:label="@string/title_activity_shop_agent_products_manage"/>
        <activity
            android:name="com.lrcall.ui.shop.ActivityShopChooseAgentProduct"
            android:label="@string/title_activity_choose_agent_product"/>

        <service android:name="com.lrcall.services.AutoAnswerIntentService"/>
        <service android:name="com.lrcall.services.AutoAnswerIntentService2"/>
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!-- alipay sdk end -->
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity_qr"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"><!--android:screenOrientation="sensorLandscape" android:theme="@style/CaptureTheme"-->
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="zxing.appspot.com"
                    android:path="/scan"
                    android:scheme="http"/>
            </intent-filter>
            <!-- We also support a Google Product Search URL. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.google.com"
                    android:path="/m/products/scan"
                    android:scheme="http"/>
            </intent-filter>
            <!-- And the UK version. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.google.co.uk"
                    android:path="/m/products/scan"
                    android:scheme="http"/>
            </intent-filter>
            <!-- Support zxing://scan/?... like iPhone app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="scan"
                    android:path="/"
                    android:scheme="zxing"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.book.SearchBookContentsActivity"
            android:label="@string/sbc_name"
            android:screenOrientation="sensorLandscape"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SEARCH_BOOK_CONTENTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.share.ShareActivity"
            android:screenOrientation="user"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SHARE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.history.HistoryActivity"
            android:label="@string/history_title"
            android:stateNotNeeded="true"/>
        <activity
            android:name="com.google.zxing.client.android.share.BookmarkPickerActivity"
            android:label="@string/bookmark_picker_name"
            android:stateNotNeeded="true"/>
        <activity
            android:name="com.google.zxing.client.android.share.AppPickerActivity"
            android:label="@string/app_picker_name"
            android:stateNotNeeded="true"/>
        <activity
            android:name="com.google.zxing.client.android.HelpActivity"
            android:label="@string/menu_help"
            android:screenOrientation="user"
            android:stateNotNeeded="true"/>

        <provider
            android:name="com.lrcall.db.DataBaseProvider"
            android:authorities="lr_bst.db"
            android:enabled="true"
            android:exported="false">
        </provider>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>
        <!-- 设置环信开始 -->
        <!-- 声明SDK所需的service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <!-- 设置环信结束 -->
        <!-- 登陆 -->
        <!-- 注册 -->
        <!-- 聊天页面 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- 添加好友 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>
        <!-- 群组详情 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群组列表 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 聊天室详情 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 新建群组 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 退出群组提示框 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"></activity>
        <!-- 群组选人 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.PickAtUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <!-- 显示下载大图页面 -->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"></activity>
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 黑名单 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 公开的群聊列表 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 语音通话 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style"></activity>
        <!-- 视频通话 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群聊简单信息 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群组黑名单用户列表 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupBlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.GroupSearchMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.PublicGroupsSeachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- choose video -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- upload error log -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- iOS offline push nick -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- robots list -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.RobotsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- user profile -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <activity
            android:name="com.hyphenate.chatuidemo.ui.SetServersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            />
        <activity
            android:name="com.hyphenate.chatuidemo.ui.CallOptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"/>
        <!-- 红包相关Activity start -->
        <!-- 发红包 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPRedPacketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <!-- 红包详情 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 红包记录 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"/>
        <!-- WebView相关 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 零钱 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 绑定银行卡 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPBankCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <!-- 群成员列表页 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <!-- 转账页面 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateVisible"
            />
        <!-- 转账详情页面 -->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPTransferDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <!-- 红包相关Activity end -->
        <!-- 开机自启动服务 -->
        <receiver android:name="com.hyphenate.chatuidemo.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>
        <!-- gcm start -->
        <!--<receiver-->
        <!--android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"-->
        <!--android:exported="true"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
        <!--<category android:name="com.hyphenate.chatuidemo"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service-->
        <!--android:name="com.hyphenate.chat.EMGCMListenerService"-->
        <!--android:exported="false"></service>-->
        <!--<receiver-->
        <!--android:name="com.hyphenate.chatuidemo.receiver.GCMPushBroadCast"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.hyphenate.sdk.push"/>-->
        <!--<category android:name="com.hyphenate.chatuidemo"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- gcm end -->
        <!-- mi push -->
        <!--<service-->
        <!--android:name="com.xiaomi.mipush.sdk.PushMessageHandler"-->
        <!--android:enabled="true"-->
        <!--android:exported="true"-->
        <!--tools:ignore="ExportedService"/>-->
        <!--<service-->
        <!--android:name="com.xiaomi.mipush.sdk.MessageHandleService"-->
        <!--android:enabled="true"/>-->
        <!--<receiver-->
        <!--android:name="com.hyphenate.chat.EMMipushReceiver"-->
        <!--android:exported="true"-->
        <!--tools:ignore="ExportedReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xiaomi.mipush.ERROR"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- mi push end -->
        <!-- huawei push 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
        <!--<receiver-->
        <!--android:name="com.hyphenate.chat.EMHuaweiPushReceiver"-->
        <!--android:exported="true">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash; 必须,用于接收token &ndash;&gt;-->
        <!--<action android:name="com.huawei.android.push.intent.REGISTRATION"/>-->
        <!--&lt;!&ndash; 必须，用于接收消息 &ndash;&gt;-->
        <!--<action android:name="com.huawei.android.push.intent.RECEIVE"/>-->
        <!--</intent-filter>-->
        <!--/>-->
        <!--<meta-data-->
        <!--android:name="CS_cloud_ablitity"-->
        <!--android:value="successRateAnalytics"/>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; PushSDK:PushSDK接收外部请求事件入口 &ndash;&gt;-->
        <!--<receiver-->
        <!--android:name="com.huawei.android.pushagent.PushEventReceiver"-->
        <!--android:exported="true"-->
        <!--android:process=":pushservice">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL"/>-->
        <!--<action android:name="com.huawei.intent.action.PUSH"/>-->
        <!--<action android:name="com.huawei.intent.action.PUSH_ON"/>-->
        <!--<action android:name="com.huawei.android.push.PLUGIN"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; PushSDK:Push服务 &ndash;&gt;-->
        <!--<service-->
        <!--android:name="com.huawei.android.pushagent.PushService"-->
        <!--android:process=":pushservice"></service>-->
        <!-- huawei push end -->
        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <!-- umeng appkey，可忽略 -->
        <!--<meta-data-->
        <!--android:name="UMENG_APPKEY"-->
        <!--android:value="56aefe07e0f55a250d001a7c"></meta-data>-->
        <!--<meta-data-->
        <!--android:name="UMENG_CHANNEL"-->
        <!--android:value="hyphenate"/>-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8"/>
        <!-- 设置环信应用的AppKey -->
        <!--<meta-data-->
        <!--android:name="EASEMOB_APPKEY"-->
        <!--android:value="libit#bst"/>-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1113161229115004#bst"/>
    </application>
</manifest>
